
<div class="row">
  <p>
    <button type="button" class="btn btn-primary" (click)="backToTenants()">Back </button>
  </p>
</div>
<div>
  <h2> Tenant form</h2>
  <p *ngIf="isValid && tenantForm.pristine" class="alert alert-success">
    Form submitted successfully.
  </p>
  <form [formGroup]="tenantForm">
    <div class="form-group">
      <input type="number" [hidden]='true' formControlName="id">
      <div class="row">
        <label class="control-label col-md-2">Tenant first name:</label>
        <input type="text" formControlName="firstName">
        <div class="text-danger" *ngIf="tenantForm.get('firstName').errors && tenantForm.get('firstName').touched">
          minimal length - 3 characteristics
        </div>
      </div>

      <div class="row">
        <label class="control-label col-md-2">Tenant last name:</label>
        <input type="text" formControlName="lastName">
        <div class="text-danger" *ngIf="tenantForm.get('lastName').errors && tenantForm.get('lastName').touched">
          minimal length - 3 characteristics
        </div>
      </div>
      <div class="row">
        <label class="control-label col-md-2">Personal code:</label>
        <input type="text" formControlName="personalCode">
        <div class="text-danger" *ngIf="tenantForm.get('personalCode').errors && tenantForm.get('personalCode').touched">
          minimal length - 4 characteristics, only digits and -
        </div>
      </div>
      <div class="row">
        <label class="control-label col-md-2">Date of birth:</label>
        <input type="date" formControlName="dateOfBirst">
        <div class="text-danger" *ngIf="tenantForm.get('dateOfBirst').errors && tenantForm.get('dateOfBirst').touched">
          required correct date of birth input
        </div>
      </div>
      <div class="row">
        <label class="control-label col-md-2">Phone number:</label>
        <input type="text" formControlName="phoneNumber">
        <div class="text-danger" *ngIf="tenantForm.get('phoneNumber').errors && tenantForm.get('phoneNumber').touched">
          minimal length - 6 characteristics, only digits
        </div>
      </div>
      <div class="row">
        <label class="control-label col-md-2">eMail:</label>
        <input type="email" formControlName="eMail">
        <div class="text-danger" *ngIf="tenantForm.get('eMail').errors && tenantForm.get('eMail').touched">
          required eMail input
        </div>
      </div>
      <input type="number" [hidden]='true' formControlName="flatId">
      <input type="number" [hidden]='true' formControlName="flatNum">
      <input type="number" [hidden]='true' formControlName="houseId">
      <input type="number" [hidden]='true' formControlName="houseNum">
      <input type="number" [hidden]='true' formControlName="houseStreet">

      </div>
    <button type="submit" class="btn btn-primary" [disabled]="tenantForm.invalid" (click)="onFormSubmit()">Submit</button>
  </form>
</div>